* {
    margin: 0;
    padding: 0;
    font-family: 'Fredericka the Great', serif;
    font-size: 16px;
    box-sizing: border-box;
}


/***** Navigation Bar *****/

.navigation {
    position: relative;
}

.navbar {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: rgba(80, 80, 80, .75);
    z-index: 2;
    /*    box-shadow: -1px 1px 100px;*/
}

.navbar > ul {
    float: right;
    list-style-type: none;
    font-size: 0;
    z-index: 1;
}

.navbar li a {
    text-decoration: none;
    font-size: 1.05em;
    line-height: 50px;
    display: block;
    padding: 0 10px;
    color: lightyellow;
    font-family: "Raleway", sans-serif;
}

.navbar > ul>li {
    display: inline-block;
}

.navbar > ul>li:last-child a {
    /*    border-right: 1px solid rgb(150, 150, 150);*/
}

.navbar > ul li li {
    display: none;
    float: none;
}

.navbar > ul li li a {
    border-top: none;
    height: 50px;
}

.navbar > ul li ul li:first-child a {}

.navbar > ul ul {
    position: absolute;
    top: 50px;
    background-color: rgba(80, 80, 80, .75);
    /*    box-shadow: -10px 20px 30px;*/
}

.navbar > ul li:hover li {
    display: block;
}

.navbar li a:hover {
    background-color: rgb(10, 140, 160);
    box-sizing: border-box;
    transition: .2s;
    /*    box-shadow: -1px 1px 5px black;*/
}

.logo {
    width: 50px;
    height: 50px;
    display: block;
    animation: pulse .7s 1;
}

.logo img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 30px;
    opacity: .7;
    transition: .25s;
}

.logo img:hover {
    opacity: .9;
    transition: .25s;
    cursor: pointer;
    box-shadow: -1px 2px 5px;
}

.logoOffset {
    width: 60px;
    height: 50px;
    float: right;
}

div.menu {
    position: relative;
    width: 20px;
    height: 20px;
    float: left;
    margin: 18px 0 0px 15px;
}

.hamburger {
    width: 50px;
    height: 100%;
    float: left;
    transition: .2s;
    visibility: hidden;
    display: none;
    cursor: pointer;
}

.hamburger:hover {
    background-color: rgb(10, 140, 160);
}

div.menu div.strokes {
    width: 100%;
    height: 2px;
    margin: 0 0 4px 0;
    background: lightyellow;
    transition: transform 0.3s, opacity 0.1s;
}

.hide {
    opacity: 0;
    transform: translateX(-42px);
}

.animate0 {
    transform: rotate(45deg) translateY(5px) translateX(5px);
}

.animate2 {
    transform: rotate(-45deg) translateY(-4px) translateX(3px);
}

.dropdown {
    position: absolute;
    background-color: rgba(80, 80, 80, .75);
    top: 50px;
    width: auto;
    visibility: hidden;
    opacity: 0;
    transition: .25s;
    box-shadow: -10px 15px 30px;
}

.show {
    visibility: visible;
    opacity: 1;
}

.dropdown ul li a {
    float: none;
    display: block;
    text-align: left;
}

.dropdown ul li {
    position: relative;
}

.dropdown ul ul {
    display: none;
    position: relative;
    left: 0px;
    top: 0px;
    height: 0px;
}

#dropdown-r+ul li a {
    background-color: rgba(10, 10, 10, .2);
    text-indent: 12px;
}

#dropdown-r+ul li a:hover {
    background-color: rgb(10, 160, 180);
}

#dropdown-r::after {
    float: right;
    content: "...";
}

#dropdown-r+.show-rsm {
    display: block;
    height: inherit;
}


/****** Content > Title *****/

.title {
    position: relative;
    height: 700px;
    background-image: url(mountain.jpg);
    text-align: center;
}

.titlecontainer {
    position: absolute;
    top: 200px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: lightgoldenrodyellow;
    opacity: 1;
}

.slab {
    font-size: 4em;
    margin-bottom: 30px;
    font-family: "Oswald", cursive;
    line-height: .9;
    text-align: left
}

.script {
    font-size: 7em;
    font-family: Cabin, cursive;
    line-height: .8;
}


/****** Content > About ******/

#about p {
    padding: 50px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5em;
    line-height: 1.8;
    box-sizing: border-box;
}


/***** Content > Projects *****/

#projects {
    height: auto;
    background-image: url(Code_BG.jpg);
}

#projects .project-heading {
    color: lightgoldenrodyellow;
    text-align: center;
    line-height: 2em;
    font-size: 4em;
    text-shadow: -2px .07em 1px black;
}

#projects .project {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0px auto;
    box-sizing: border-box;
    width: 400px;
    height: 400px;
    /*
    border-width: 0px;
    border-style: solid;
    border-color: lightslategrey;
    border-radius: 10px;
*/
    -webkit-filter: blur(1px);
    -webkit-transform: translate3d(0, 0, 0);
    filter: grayscale(1) blur(1px);
    transition: .15s ease-out;
    cursor: pointer;
    background-size: cover;
    overflow: hidden;
}

#projects .projects-container {}

#projects .project-wrapper {
    position: relative;
    display: inline-flex;
    width: 100%;
    height: 500px;
}

#projects .project:hover>span {
    transform: scale(1.15, 1.45);
    background-color: rgba(200, 200, 200, .4);
    -webkit-filter: blur(0px);
    /*    Anti-aliasing effect*/
}

#projects .project>span {
    position: absolute;
    background-color: rgba(150, 150, 150, .4);
    top: 55%;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    line-height: .7em;
    font-size: 2em;
    transition: .2s ease-out;
    color: lightgoldenrodyellow;
    text-shadow: -1px 1px 6px black;
    padding: .7em 0;
}

#projects .project:hover {
    filter: grayscale(0) blur(0px);
}

#projects .plm {
    background-image: url(images/Parking_Structure-crop-right.png);
}

#projects .gi {
    background-image: url(images/Wheat.png);
}

#projects .it {
    background-image: url(images/Inventory_Tracker.png);
}


/***** Content > Contact *****/

#contact {}

#contact ul {
    padding: 1em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact ul li {
    list-style-type: none;
    margin: 1em;
    position: relative;
    float: left;
}

#contact ul li .media {
    max-height: 50px;
    max-width: 50px;
    transition: .15s;
}

#contact ul li .media:hover {
    transform: scale(1.4, 1.4);
    transition: .2s;
}

.media-wrapper {
    visibility: hidden;
}

#contact ul li .show-media {
    visibility: visible;
    animation: surface 1.3s linear 1 forwards;
}


/***** Animations *****/

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(.8);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes surface {
    0% {
        transform: translateY(200%);
        animation-timing-function: cubic-bezier(0, .92, .69, .99);
    }
    30% {
        transform: translateY(-64%);
        animation-timing-function: cubic-bezier(.69, .01, .99, .58);
    }
    50% {
        transform: translateY(32%);
        animation-timing-function: cubic-bezier(.01, .42, .83, 1);
    }
    65% {
        transform: translateY(-32%);
        animation-timing-function: cubic-bezier(.36, .01, 1, .83);
    }
    75% {
        transform: translateY(16%);
        animation-timing-function: cubic-bezier(0, .92, .69, .99);
    }
    85% {
        transform: translateY(-8%);
        animation-timing-function: cubic-bezier(.26, .02, .99, .66);
    }
    93% {
        transform: translateY(8%);
        animation-timing-function: cubic-bezier(0, .92, .69, .99);
    }
    100% {
        transform: translateY(0%);
        animation-timing-function: cubic-bezier(.97, .01, .99, .61);
    }
}


/***** Fonts *****/

@font-face {
    font-family: Brush;
    src: url(Brusher-Regular.ttf);
}


/***** Responsive Design *****/


/*----- Mobile -----*/

@media screen and (max-width: 749px) {
    .navbar {
        position: absolute;
    }
    .navbar > ul li {
        display: none;
    }
    .logo {
        margin-left: auto;
        margin-right: auto;
    }
    nav .hamburger {
        display: block;
        visibility: visible;
    }
    .script {
        font-size: 4em;
    }
    .slab {
        font-size: 4.5em;
    }
    .title {
        height: 600px;
    }
    #projects .project {
        filter: grayscale(0) blur(0px);
        width: 300px;
        height: 300px;
    }
    #projects .project-wrapper {
        height: 400px;
    }
    #projects .project:hover>span {
        transform: scale(1.0, 1.0);
        background-color: rgba(150, 150, 150, .4);
    }
    #projects .project>span {
        font-size: 1.7em;
        transition: .25s ease-out;
    }
    #projects .project:hover {
        width: 300px;
        height: 300px;
    }
    #contact ul li .media:hover {
        transform: none;
    }
}


/*----- Larger Than Mobile -----*/

@media screen and (min-width: 750px) {
    #about {
        padding-top: 60px;
    }
    #projects {
        padding-top: 60px;
    }
    .logo {
        float: left;
        margin-left: 25px;
    }
    div.menu {
        display: none;
    }
}


/*----- Larger Than Tablet -----*/

@media screen and (min-width: 900px) {
    #projects .project-wrapper {
        width: 50%;
        margin: 0 -2px;
    }
}


/*----- Large Desktop -----*/

@media screen and (min-width: 1300px) {
    #projects .project-wrapper {
        width: 33%;
        margin: 0 -2px;
    }
}