* {
    color: navajowhite;
    font-family: Raleway;
    padding: 0;
    margin: 0;
}

.top {
    position: relative;
    height: 60px;
    border-bottom: solid 1px grey;
    padding: 0 30px;
}

.top > h1 {
    color: rgb(220, 220, 200);
    line-height: 60px;
}

body {
    background-color: rgb(30, 30, 30);
    overflow-x: hidden;
}

.headnote {
    font-size: .8em;
}

.spot {
    cursor: pointer;
    display: inline-block;
    padding: .4em;
    margin: .2em;
}

.spotlabel-line {
    text-align: center;
}

#display {
    position: fixed;
    bottom: 0px;
    right: 0px;
    visibility: hidden;
    padding: 25px;
    width: 20em;
    height: 6em;
    transition: .5s;
    background-color: rgba(200, 200, 200, .2);
    -webkit-transform: translateZ(0);
}

#display.show {
    visibility: visible;
    transition: .5s;
}

ul li {
    list-style: none;
    overflow-x: hidden;
}

.spot span .popup {
    transform: scale(1);
}

.time {
    padding: 2px 5px 2px 5px;
    border: 2px solid orange;
}

.timer {
    display: inline-block;
    font-family: Raleway;
}

#display>p,
#spotlabel {
    background-color: rgba(200, 200, 200, .01);
}

footer {
    height: 100px;
    border-top: solid grey 1px;
    line-height: 100px;
}

.dim,
.dim>p {
    color: rgb(100, 100, 100);
}

@media only screen and (max-width: 559px) {
    #display {
        left: 0;
        right: auto;
        position: relative;
        padding: 20px;
        margin: 0;
        width: 100%;
        height: 6em;
        transition: .5s;
        background-color: rgba(200, 200, 200, .2);
    }
}

@media only screen and (min-width: 560px) {
    #display {
        right: 0;
        bottom: 0;
    }
}

.main-display {
    position: relative;
}